@model Nothing_Fancy.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name:
            @*@Html.DisplayNameFor(model => model.reserverName)*@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.reserverName)
        </dd>
        <dt class="col-sm-2">
            Room:
            @*@Html.DisplayNameFor(model => model.nameOfRoom)*@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nameOfRoom)
        </dd>
        <dt class="col-sm-2">
            Begin Date:
            @*@Html.DisplayNameFor(model => model.reserveDateBegin)*@
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:MM/dd/yyyy}", Model.reserveDateBegin)
        </dd>
        <dt class="col-sm-2">
            End Date:
            @*@Html.DisplayNameFor(model => model.reserveDateEnd)*@
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:MM/dd/yyyy}", Model.reserveDateEnd)
        </dd>
        <dt class="col-sm-2">
            Cost:
            @*@Html.DisplayNameFor(model => model.cost)*@
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:c}", Model.cost)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Detailed">Back to List</a>
    </form>
</div>
