@model IEnumerable<Nothing_Fancy.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name:
            </th>
            <th>
                Room:
            </th>
            <th>
                Begin Date:
            </th>
            <th>
                End Date:
            </th>
            <th>
                Cost:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.reserverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameOfRoom)
            </td>
            <td>
                @String.Format("{0:MM/dd/yyyy}", item.reserveDateBegin)
            </td>
            <td>
                @String.Format("{0:MM/dd/yyyy}", item.reserveDateEnd)
            </td>
            <td>
                @String.Format("{0:c}", item.cost)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
