@model IEnumerable<Nothing_Fancy.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.reserverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nameOfRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reserveDateBegin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reserveDateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.reserverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameOfRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reserveDateBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reserveDateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
