@model Nothing_Fancy.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.reviewerName)*@
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reviewerName)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.reviewRate)*@
            Rating
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reviewRate)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.reviewDate)*@
            Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reviewDate)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.reviewContent)*@
            Review
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reviewContent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
