@model IEnumerable<Nothing_Fancy.Models.Review>

@{
    ViewData["Title"] = "Index";
}





<div class="container">
    <h1>Reviews</h1>


    <p>
        <a asp-action="Create">Write a Review!</a>
    </p>

    <div class="row">
        <div class="col">
            <form asp-controller="Reviews" asp-action="Index">
                <p>
                    Search: <input type="text" name="SearchString">
                    <input type="submit" value="Enter" />
                </p>
            </form>
        </div>

        <div class="col" style="text-align:right;">

            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Sort By
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" style="text-align:center;">
                <li>@Html.ActionLink("Date (Ascending)", "Index", new { sortOrder = "Date_A", CurrentSort = ViewBag.CurrentSort })</li>
                <li>@Html.ActionLink("Date (Descending)", "Index", new { sortOrder = "Date_D", CurrentSort = ViewBag.CurrentSort })</li>
                <li>@Html.ActionLink("Name (A-Z)", "Index", new { sortOrder = "Name_A", CurrentSort = ViewBag.CurrentSort })</li>
                <li>@Html.ActionLink("Name (Z-A)", "Index", new { sortOrder = "Name_D", CurrentSort = ViewBag.CurrentSort })</li>
                <li>@Html.ActionLink("Rating (Lowest)", "Index", new { sortOrder = "Rating_A", CurrentSort = ViewBag.CurrentSort })</li>
                <li>@Html.ActionLink("Rating (Highest)", "Index", new { sortOrder = "Rating_D", CurrentSort = ViewBag.CurrentSort })</li>
                <li>@Html.ActionLink("Title (A-Z)", "Index", new { sortOrder = "Title_A", CurrentSort = ViewBag.CurrentSort })</li>
                <li>@Html.ActionLink("Title (Z-A)", "Index", new { sortOrder = "Title_D", CurrentSort = ViewBag.CurrentSort })</li>

            </ul>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-6">
            @if (!Model.ToList().Any())
            {
                <h4>No Reivews Found</h4>
                <p> Why don't you add a review while you're here!</p>
            }
            else
            {
                <ul id="id01">
                    @foreach (var item in Model)
                    {
                        <li>
                            <b> @Html.DisplayFor(modelItem => item.reviewRate).0 </b>

                            @for (int i = 0; i < 5; i++)
                            {
                                @if (i < @item.reviewRate)
                                {
                                    <span><a class="fa fa-star" id="review-star-comment-checked"></a></span>
                                }
                                else
                                {
                                    <span><a class="fa fa-star"></a></span>
                                }
                            }

                            <h3> "@Html.DisplayFor(modelItem => item.Title)" </h3>
                            <p>  @Html.DisplayFor(modelItem => item.reviewContent) </p>

                            <p>
                                @String.Format("{0:MM/dd/yyyy}", item.reviewDate) |
                                @Html.DisplayFor(modelItem => item.reviewerName) |

                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </p>
                            <hr />
                        </li>
                    }
                </ul>
            }

        </div>
        <div class="col-6">
            <div class="row">
                <p class="pr-3">Average User Rating:  </p>
                @{var avgUserRating = averageUserRating();
                    var userCount = userRatingCount();
                    printStars(avgUserRating);}
            </div>

            <div class="row">
                <p> <strong>@avgUserRating.ToString("#.##") / 5 </strong> average based on <strong> @userCount reviews </strong>.</p>
            </div>

            <div class="row">
                @{printBars(userCount);}
            </div>

        </div>
    </div>
</div>






@functions {
    public double averageUserRating()
    {
        double counter = 0;
        double totalRating = 0;
        foreach (var item in Model)
        {
            counter++;
            totalRating += item.reviewRate;

        }
        return (totalRating / counter);
    }

    public int userRatingCount()
    {
        int counter = 0;
        foreach (var item in Model)
        {
            counter++;
        }

        return counter;
    }

    public void printStars(double starRating)
    {
        for (int i = 0; i < 5; i++)
        {
            if (i < Math.Round(starRating))
            {
                <span><a class="fa fa-star" id="review-star-comment-checked"></a></span>
            }
            else
            {
                <span><a class="fa fa-star"></a></span>
            }
        }
    }

    public void printBars(double userCount)
    {
        int star1 = 0;
        int star2 = 0;
        int star3 = 0;
        int star4 = 0;
        int star5 = 0;

        string bar1 = "0%";
        string bar2 = "0%";
        string bar3 = "0%";
        string bar4 = "0%";
        string bar5 = "0%";

        foreach (var item in Model)
        {
            switch (item.reviewRate)
            {
                case 1:
                    star1++;
                    break;
                case 2:
                    star2++;
                    break;
                case 3:
                    star3++;
                    break;
                case 4:
                    star4++;
                    break;
                case 5:
                    star5++;
                    break;
            }
        }

        bar1 = ((star1 / userCount) * 100).ToString() + "%";
        bar2 = ((star2 / userCount) * 100).ToString() + "%";
        bar3 = ((star3 / userCount) * 100).ToString() + "%";
        bar4 = ((star4 / userCount) * 100).ToString() + "%";
        bar5 = ((star5 / userCount) * 100).ToString() + "%";

        <div class="side">
            5 star
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-5" style="width:@bar5"></div>
            </div>
        </div>
        <div class="side right">
            (@star5)
        </div>
        <div class="side">
            4 star
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-4" style="width:@bar4"></div>
            </div>
        </div>
        <div class="side right">
            (@star4)
        </div>
        <div class="side">
            3 star
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-3" style="width:@bar3"></div>
            </div>
        </div>
        <div class="side right">
            (@star3)
        </div>
        <div class="side">
            2 star
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-2" style="width:@bar2"></div>
            </div>
        </div>
        <div class="side right">
            (@star2)
        </div>
        <div class="side">
            1 star
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-1" style="width:@bar1"></div>
            </div>
        </div>
        <div class="side right">
            (@star1)
        </div>
    }
}
